$main-font: 'Georgia';
$second-font: 'Arial';

$light-style: 300;
$normal-style: 400;

$main-color: #f1cdb3;
$grey-dark-color: #545454;
$grey-color: #cdcdcd;
$dark-color: #292929;
$white-color: #ffff;
