@font-face {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Georgia.ttf') format('truetype');
}

@font-face {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/ArialRegular.eot'); /* For IE6-8 */
  src: url('../fonts/ArialRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ArialRegular.woff') format('woff'),
    url('../fonts/ArialRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/ArialItalic.eot'); /* For IE6-8 */
  src: url('../fonts/ArialItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ArialItalic.woff') format('woff'),
    url('../fonts/ArialItalic.ttf') format('truetype');
}
